$button-padding: 18px 9px !default;
$button-font-size: $font-size !default;
$button-font-family: $font-family !default;
$button-line-height: $line-height !default;
$button-color: yellow !default;
$border: 1px solid #ccc !default;