$input-padding: 8px 9px !default;
$input-font-size: $font-size !default;
$input-font-family: $font-family !default;
$input-line-height: $line-height !default;
$input-color: blue !default;
$border: 1px solid #ccc !default;